/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: gold;

@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";


:root{
    --my-darkblue: hwb(214 16% 0%);
    --my-lightblue: #34b9ff;
    --my-highlighter: #30e0ff;

}
/* text colors */
.text-grey{
    color: rgb(206, 206, 206);
}


/* general css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: black;
}
.top-bg-img{
    width: 650px;
    height: 650px;
    position: absolute;
    top: -200px;
    right: -150px;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
}
.btm-bg-img{
    width: 650px;
    height: 650px;
    position: absolute;
    top: 500px;
    left: -150px;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }
}

// HEADER
header{
    height: 70px;
    color: black;
    font-weight: 600;
    margin-top: -5px;
    .box-logo{
        width: 120px;
        height: 70px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    nav{
        background-color: #722a2b;
        position: relative;
        padding: 0 50px;
        transform: skewX(-30deg);
        margin-top: -5px;
        transition: background-color 0.2s;
        z-index: 2;
    }
    nav:hover .border-fx{
        background-color: #ffffff80;
        pointer-events: none;
    }
    .border-fx{
        position: absolute;
        top:0px;
        left: 34%;
        width: 540px;
        height: 65px;
        transform: skewX(-30deg);
        background-color: #ffffff34;
        z-index: 1;
        box-shadow: rgb(77, 70, 38) 0px 0px 30px 5px;
    }
    li{
        a{
            text-decoration: none;
            color: #d6ae64;
            transition: color 0.2s;
            &:hover{
            color: white;
            }
        }

    }
    input{
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        color: white;
    }
}
.card{
    background-color: transparent;
    overflow: hidden;
    &:hover .card-img-top{
        scale: 1.2;
    }
    .card-img-top{
        height: 250px;
        object-fit: cover;
        object-position: top;
        overflow: hidden;
        transition: scale 0.5s;
    }
    .stats span{
        padding-left: 5px;
        font-size: 0.7rem;
    }
}
#characters-index{
    a{
        box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
    }
}



