/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: gold;

@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


:root{
    --my-darkblue: hwb(214 16% 0%);
    --my-lightblue: #34b9ff;
    --my-highlighter: #30e0ff;

}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f183;
}
::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

/* text colors */
.text-grey{
    color: rgb(206, 206, 206);
}


/* general css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #202020;
    font-family: 'Anaheim', sans-serif;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    background-size: cover;

}
.top-bg-img{
    width: 650px;
    height: 650px;
    position: absolute;
    top: -200px;
    right: -150px;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
}
.btm-bg-img{
    width: 650px;
    height: 650px;
    position: absolute;
    top: 500px;
    left: -150px;
    img{
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }
}

// HEADER
header{
    height: 70px;
    color: black;
    font-weight: 600;
    margin-top: -5px;
    transition: 1.5s;
    padding: 0 50px;
    .box-logo{
        width: 120px;
        height: 70px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    nav{
        font-family: 'Play', sans-serif;
    }
    li{
        a{
            text-decoration: none;
            color: #F5E6C9;
            transition: color 0.2s;
            &:hover{
            color: white;
            }
        }
    }
    a{
        font-family: 'Play', sans-serif;
        text-decoration: none;
        color: #F5E6C9;
        transition: color 0.2s;
        &:hover{
        color: white;
        }
    }
}


// HOMEPAGE
.homepage{
    padding: 0 50px;
}
.hero{
    height: 100vh;
    .slogan{
        max-width: 200px;
        .title-hero {
            /* WAR PRIME */
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 24px;
        height: 100px;
        /* or 50% */
        display: flex;
        align-items: center;
        letter-spacing: 0.38em;

        background: linear-gradient(90.02deg, rgba(248, 214, 127, 0) -4.78%, #F8D67F 48.47%, rgba(248, 214, 127, 0) 106.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        }
        p{

            width: 642px;
            height: 144px;

            font-family: 'Play';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            /* or 160% */
            display: flex;
            align-items: center;
            letter-spacing: 0.38em;

            color: #FFFFFF;


            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

        }
        button{
            /* Button Play Now */

        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 57px;
        gap: 10px;

        border: 1px solid #F8D67F;
        background-color: transparent;

        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;


        /* PLAY now */
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        /* identical to box height, or 160% */
        display: flex;
        align-items: center;
        letter-spacing: 0.38em;
        text-transform: uppercase;

        color: #FFFEFE;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        }
    }
}



.pgIndex {
    .card {
        img.front {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        cursor: pointer;
    }
}
/* -----flipping cards */

.flip-card {
    width: 18rem;
    height: 25.8rem;
    perspective: 1000px;
    &:hover h3{
        animation: popin 1s 1s ease-in-out, blink 2s 2s ease-in-out infinite;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    h3{
        top: 0;
        left: 0;
        opacity: 0;
    }
}
    .box-char{
        width: 100%;
        height: 80%;
        img{
            width: 90%;
        }
    }
#char-name{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(214,174,100,1) 100%);
    border-radius: 10px;
}
.description{
    max-height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.attributes-name{
    .row{
        width: 40%;;
    }
    .col-3{
        text-align: center;
        font-weight: bold;
    }
}
.attributes{
    .row{
        width: 40%;;
    }
    .col-3{
        text-align: center;
    }
    i{
        font-size: 1.3rem;
    }
    span{
        padding-left: 5px;
    }
    .atk{
        color: #d6ae64;
    }
    .def{
        color: lightskyblue;
    }
    .vel{
        color:rgb(98, 163, 98);
    }
    .health{
        color: #973031;
    }
}




