/* BOOTSTRAP IMPORT */
@use './partials/variables' as *;
@import "bootstrap/scss/functions";

// variables override
$primary: #F8D67F;

@import "bootstrap/scss/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";
@import "./partials/multipleselect.scss";

@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Play:wght@400;700&display=swap');
// FONTFAMILY
// font-family: 'Anaheim', sans-serif;
// font-family: 'Play', sans-serif;


/* text colors */
.text-grey {
    color: rgb(206, 206, 206);
}
a{
    color: white;
    text-decoration: none;
}
/* general css */
header {
    height: 70px;
    padding: 0 50px;
    background-color: #202020;
    color: #F5E6C9;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-logo {
        width: 120px;
        height: 70px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #F5E6C9;
                transition: color 0.2s;
                &:hover {
                    color: white;
                }
            }
        }
    }

    input {
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        color: white;
    }
    .card-img-top {
        max-height: 200px;
        object-fit: cover;
        object-position: top;
    }
    .authentication {
        ul {
            list-style: none;
        }
    }
}
// HOMEPAGE
.home{
    padding: 0 50px;
    height: calc(100vh - 70px);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Play', sans-serif;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    .home-title{
        height: 80px;
        font-weight: 700;
        font-size: 48px;
        line-height: 36px;
        letter-spacing: 0.38em;
        background: linear-gradient(90.02deg, rgba(248, 214, 127, 0) -4.78%, #F8D67F 48.47%, rgba(248, 214, 127, 0) 106.34%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.38em;
        // width: 642px;
    }
    button{
        width: 40%;
        padding: 6px 57px;
        border: 1px solid #F8D67F;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.38em;
        background-color: transparent;
        color: white;
        text-align: center;
    }
    .box-image{
        min-width: 1200px;
        img{
            width: 100%;
        }
    }

}
@media screen and (min-width: 992px){
    #navbar{
        ul{
            padding-left: 40px;
        }
    }
    .dropdown{
        display: none;
    }
    .authentication{
        padding-left: 50px;
    }
}
@media screen and (max-width: 992px){
    header{
        display: flex;
        justify-content: space-between;
        ul{
            gap: 3rem;
        }
        #navbar{
            display: none;
        }
        .authentication{
            display: none;
        }
    }
}
@media screen and (min-width: 768px){
    .landscape-mobile{
        display: none;
    }
}
@media screen and (max-width: 768px){
    header{
        padding: 20px;
    }
    .home{
        padding: 20px;
        max-width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        .landscape{
            display: none;
        }
        .landscape-mobile{
            width: 100%;
        }
        .home-title{
            height: 40px;
            margin-top: 30px;
        }
        h1, p{
            text-align: center;
        }
        button{
            margin: auto;
        }
    }
}
/* index characters */

.pgIndex {
    .card {
        img.front {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        cursor: pointer;
    }
}
/* -----flipping cards */

.flip-card {
    width: 18rem;
    height: 25.8rem;
    perspective: 1000px;
    &:hover h3{
        animation: popin 1s 1s ease-in-out, blink 2s 2s ease-in-out infinite;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    h3{
        top: 0;
        left: 0;
        opacity: 0;
    }
}

/* SHOW CHARACTERS */
.showChar{
    .description{
        max-height: 300px;
        overflow: auto;
        padding: 3px;
    }
    /* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #212529;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #B07156;
    border-radius: 3px;
  }

  /* Firefox */
  ::-moz-scrollbar {
    width: 6px;
  }

  ::-moz-scrollbar-track {
    background-color: #212529;
  }

  ::-moz-scrollbar-thumb {
    background-color: #B07156;
    border-radius: 3px;
  }

  /* Edge e IE */
  ::-ms-scrollbar {
    width: 6px;
  }

  ::-ms-scrollbar-track {
    background-color: #212529;
  }

  ::-ms-scrollbar-thumb {
    background-color: #B07156;
    border-radius: 3px;
  }

}




/* animations */

@keyframes popin {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}

