/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: gold;

@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

header{
    height: 70px;
    background-color: #B07156;
    color: black;
    font-weight: 600;
    .box-logo{
        width: 120px;
        height: 70px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    li{
        a{
            text-decoration: none;
            color: black;
            transition: all 0.2s;
            &:hover{
            color: white;
            border-bottom: 2px solid white;
            }
        }

    }
    input{
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        color: white;
    }
}
