/* BOOTSTRAP IMPORT */
@import "bootstrap/scss/functions";

// variables override
$primary: gold;

@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/bootstrap";

.card-img-top{
    max-height: 200px;
    object-fit: cover;
    object-position: top;

}
